nav a {
    margin-right: 15px;
}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    /* justify-content: space-between; */
}

.nav-link {
    /* font-weight: bold; */
    text-decoration: none;
    color: black;
}

nav b {
    margin-right: 10px;
}
